@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>E-mail Confirmed!</h1>
<p>
    Success! Your account is now registered. Please <a id="navigate-signin" href="/Identity/Account/Login">Click here</a> to sign in.
</p>